.product-overview {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url("freedom.jpg") center/cover no-repeat border-box, #ff1b68;
  /* background-size: cover;
  background-position: left 10% bottom 30%;
  background-repeat: no-repeat; */
  height: 33vh;
  margin-top: 2.75rem;
  position: relative;
}

.product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
  position: absolute;
  bottom: 5%;
  left: 3%;
  font-size: 1.6rem;
}

@media (min-width: 40rem) and (min-height: 40rem) {
  .product-overview {
    height: 40vh;
    background-position: 50% 25%;
  }

  .product-overview h1 {
    font-size: 3rem;
  }
}
